textarea:hover,
select:hover,
input:hover,
textarea:active,
select:active,
input:active,
textarea:focus,
select:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
a {
  text-decoration: none;
}
/* Product Card */
.product_card {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}
.product_card:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  transform: translateY(-5px);
}
.product_card figure {
  position: relative;
}
.product_card figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}
.product_card figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
